/** @format */

@font-face {
  font-family: "Neue Machina Light";
  font-style: normal;
  src: url("/fonts/NeueMachina-Light.otf") format("opentype");
}
@font-face {
  font-family: "Neue Machina";
  font-style: normal;
  src: url("/fonts/NeueMachina-Regular.otf") format("opentype");
}
@font-face {
  font-family: "Neue Machina Ultrabold";
  font-style: normal;
  src: url("/fonts/NeueMachina-Ultrabold.otf") format("opentype");
}

@font-face {
  font-family: "Eastman Regular";
  src: url("/fonts/archive/Eastman-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Eastman Medium";
  src: url("/fonts/archive/Eastman-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "Eastman Regular Offset";
  src: url("/fonts/archive/Eastman-RegularOffset.ttf") format("truetype");
}
@font-face {
  font-family: "Eastman Bold";
  src: url("/fonts/archive/Eastman-Bold.ttf") format("truetype");
}

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #fffef4;
  overflow-x: hidden;
  color: #202020;
}

::-webkit-scrollbar {
  display: none;
}

@layer utilities {
  .text-stroke {
    -webkit-text-stroke: 1px #fffef4;
  }
}
