/** @format */

@font-face {
  font-family: "Migra";
  font-style: normal;
  font-weight: 400;
  src: local("Migra"),
  url("/fonts/Migra-Extralight.woff")

      format("woff");
}
@font-face {
  font-family: "Migra";
  font-style: normal;
  font-weight: 800;
  src: local("Migra"),
    url("/fonts/Migra-Extrabold.woff")
      format("woff");
}

@font-face {
  font-family: "Eastman Regular";
  src: url("/fonts/archive/Eastman-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Eastman Regular Offset";
  src: url("/fonts/archive/Eastman-RegularOffset.ttf") format("truetype");
}
@font-face {
  font-family: "Eastman Bold";
  src: url("/fonts/archive/Eastman-Bold.ttf") format("truetype");
}

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: black;
  overflow-x: hidden;
  color: #E7E7E7;
}

::-webkit-scrollbar {
  display: none;
}

@layer utilities {
  .text-stroke {
    -webkit-text-stroke: 2px #FFFEF4;
  }
}
