/** @format */

@font-face {
  font-family: "Migra";
  font-style: normal;
  src: url("/fonts/Migra-Extralight.woff") format("woff");
}
@font-face {
  font-family: "Migra ExtraBold";
  font-style: normal;
  src: url("/fonts/Migra-Extrabold.woff") format("woff");
}

@font-face {
  font-family: "Eastman Regular";
  src: url("/fonts/archive/Eastman-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Eastman Medium";
  src: url("/fonts/archive/Eastman-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "Eastman Regular Offset";
  src: url("/fonts/archive/Eastman-RegularOffset.ttf") format("truetype");
}
@font-face {
  font-family: "Eastman Bold";
  src: url("/fonts/archive/Eastman-Bold.ttf") format("truetype");
}

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: black;
  overflow-x: hidden;
  color: #e7e7e7;
}

::-webkit-scrollbar {
  display: none;
}

@layer utilities {
  .text-stroke {
    -webkit-text-stroke: 1px #fffef4;
  }
}
